@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

$font-weights: (
  "light": 300,
  "regular": 400,
  "medium": 500,
  "semi": 600,
  "bold": 700,
);

$borderColor: #6c63ff;
$lineColor: #e6e6e6;

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: map-get($map: $font-weights, $key: light);
  font-family: 'Quicksand', sans-serif;
}