@import '../../index.scss';

.onboard-page{
  height: 100vh;
  @include flexCenter(column);
  .container{
    @include flexCenter(column);
    .content-title{
      h1{
        font-weight: map-get($map: $font-weights, $key: bold);
        font-size: 18px;
      }
    }
    .profile{
      margin-top: 35px;
      font-size: 80px;
      padding: 20px;
    }
    input{
      margin-top: 60px;
      padding: 10px 20px;
    }
    button{
      margin-top: 25px;
      padding: 10px 20px;
      font-size: 18px;
      width: 100%;
      font-weight: map-get($map: $font-weights, $key: bold);
    }
  }
}